@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
	
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
.aboutus {
	top:0;
	background: url('../img/white.PNG') no-repeat
	  center center/cover;
	text-align: left;
	margin: 20px;/* font-size:10vw; */
	opacity: 0.7;
	font-family: 'NSimSun', sans-serif;
	font-weight: bold;
	/* line-height: 100px; */
	letter-spacing: 3px;
	width: 70%;
}
.aboutus h1{
	font-size: 2vw;
	text-decoration: underline;
	margin-left: 10px;
}

.aboutus p{
	font-size: 1.5vw;
}

.contactus {
	position: absolute;
	top:60px;
	background: url('../img/white.PNG') no-repeat
	  center center/cover;
	text-align: left;
	margin: 20px;/* font-size:10vw; */
	opacity: 0.7;
	font-family: 'NSimSun', sans-serif;
	font-weight: bold;
	/* line-height: 100px; */
	letter-spacing: 3px;
	width: 70%;
}
.contactus h1{
	font-size: 2vw;
	text-decoration: underline;
	margin-left: 10px;
}

.contactus p{
	font-size: 1vw;
}


p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.content p{
	font-size: 1.2em;
}
.section{
	text-align:center;
}
#logoItem {
	position: absolute;
	/* text-align: -webkit-match-parent; */
	bottom: 30px;
	text-align: left;
	margin-left: 30px;
}

/* .twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
} */
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
 
 
 /* Test add*/
 /*html{
	background: url(img/background.PNG)no-repeat center center fixed;
	repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}*/

#menu{
	transition: all 0.3s ease;
	position: fixed;
	width: 0%;
	top: 0;
	left: -200px;
	background: rgb(0, 0, 0);
	height: 100%;
	z-index: 999;
	box-shadow: 0px 0px 10px black;
}

#menu a{
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border-radius: 100px;
	transition: all 0.2s ease;
}

#menu a:hover{
	background: rgb(50, 50, 50);
}

#menu-toggle{
	position: fixed;
	top: 20px;
	left: 0;
	background: rgb(0, 100, 100);
	z-index: 1000;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.3s ease;
}

#menu-toggle:hover{
	cursor: pointer;
}

#menu.open{
	left: 0;
	width: 200px;
	display: block;
}

#menu-toggle.open{
	left: 200px;
}



#fullpage #section0{
	background: url(../img/background.png)no-repeat center center fixed; 
	repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}

#fullpage #section1{
	background: url(../img/blank_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}

#fullpage #section2{
	background: url(../img/blank_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
	text-align: left;
}
#fullpage #section3{
	background: url(../img/blank_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}
#fullpage #section4{
	background: url(../img/blank_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}

#fullpage #section5{
	background: url(../img/blank_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}

#fullpage #section6{
	background: url(../img/blank_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}

#fullpage #section7{
	background: url(../img/blank_bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backgound-size: cover;
}





/* Slider */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
	.slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
  }
  
  .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
  }
  
  .slide.current {
	opacity: 1;
  }
  
  .slide .content {
	position: absolute;
	bottom: 70px;
	left: -600px;
	opacity: 0;
	width: 600px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #333;
	padding: 10px;
  }
  
  .slide .content h1 {
	margin-bottom: 10px;
  }
  
  .slide.current .content {
	opacity: 1;
	transform: translateX(600px);
	transition: all 0.7s ease-in-out 0.3s;
  }
  
  .buttons button#next {
	position: absolute;
	top: 40%;
	right: 15px;
  }
  
  .buttons button#prev {
	position: absolute;
	top: 40%;
	left: 15px;
  }
  
  .buttons button {
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	padding: 13px 15px;
	border-radius: 50%;
	outline: none;
  }
  
  .buttons button:hover {
	background-color: #fff;
	color: #333;
  }
  
  @media (max-width: 500px) {
	.slide .content {
	  bottom: -300px;
	  left: 0;
	  width: 100%;
	}
  
	.slide.current .content {
	  transform: translateY(-300px);
	}

	#logoItem {
		margin-left: 15px;
	}

	.aboutus{
		width: 90%;
	}

	.aboutus h1{
		font-size: 10vw;
	}
	
	.aboutus p{
		font-size: 5vw;
	}

	.contactus{
		width: 90%;
	}

	.contactus h1{
		font-size: 10vw;
	}
	
	.contactus p{
		font-size: 5vw;
	}

	#fullpage #section0{
		background: url(../img/background2.png) no-repeat
		center center/cover;
	}

  }
  
  
  
  /* Backgorund Images */
   
  .slide:first-child {
	background: url('https://source.unsplash.com/RyRpq9SUwAU/1600x900') no-repeat
	  center center/contain ;
  }
  .slide:nth-child(2) {
	background: url('https://source.unsplash.com/BeOW_PJjA0w/1600x900') no-repeat
	  center center/contain;
  }
  .slide:nth-child(3) {
	background: url('https://source.unsplash.com/TMOeGZw9NY4/1600x900') no-repeat
	  center center/contain;
  }
  .slide:nth-child(4) {
	background: url('https://source.unsplash.com/yXpA_eCbtzI/1600x900') no-repeat
	  center center/contain;
  }
  .slide:nth-child(5) {
	background: url('https://source.unsplash.com/ULmaQh9Gvbg/1600x900') no-repeat
	  center center/contain;
  } 
  .slide:nth-child(6)  {
	background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat
	  center center/contain;
  }


	/*custome arrow*/
/* .fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(left.png) no-repeat;
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(right.png) no-repeat;
    cursor: pointer;
} */